# NOW ON GIT LFS
#*.zip
#*.jar

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Java
*.class

# GEdit - backup files
*~

# Video
*.mp4

# Copy of Blackadder repository.
openwrt/packages/click_blackadder/src/blackadder/

# blackadder_applications
blackadder_applications/deploy_sudo/deploy
